openapi: 3.1.0
info:
  title: HHC Web API
  version: 0.2.0
  description: |-
    Website API owns CMS records and publication state; asset-api owns file bytes, scanning, derivatives, and grants.
    Campaign routes are authorization-preserving proxies to engagement-api, which owns campaign and consent state.
tags:
  - name: Public
    description: Published website projections exposed through api-gateway.
  - name: Admin
    description: CMS administration exposed through api-gateway and authorized by trusted Account identity headers.
  - name: Authenticated
    description: Signed-in application projections exposed through api-gateway.
  - name: Private
    description: Direct Dapr service-to-service operations.
  - name: Operations
    description: Direct service health and readiness endpoints used by platform probes.
x-hhc-service: hhc-web-api
x-hhc-owner: HHC Platform
x-hhc-repository: HallelujahHomeChurch/hhc-web-api
servers:
  - url: https://www.alive.org.tw/api
    description: Public and admin gateway surface; api-gateway validates browser JWTs and injects trusted identity headers.
paths:
  /admin/recordings/retention-policy:
    get:
      operationId: getRecordingRetentionPolicy
      summary: getRecordingRetentionPolicy
      description: Human administrators only. Policy changes require a fresh actor-bound preview, matching revision and explicit confirmation. Asset commits policy and audit atomically; issued grants keep up to one hour of byte cleanup grace.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:recordings:read]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      responses:
        '200': {description: RecordingRetentionPolicy, content: {application/json: {schema: {$ref: '#/components/schemas/RecordingRetentionPolicyEnvelope'}}}}
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
    put:
      operationId: updateRecordingRetentionPolicy
      summary: updateRecordingRetentionPolicy
      description: Human administrators only. Policy changes require a fresh actor-bound preview, matching revision and explicit confirmation. Asset commits policy and audit atomically; issued grants keep up to one hour of byte cleanup grace.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:recordings:write]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters:
        - {name: Idempotency-Key, in: header, required: true, schema: {type: string, minLength: 1, maxLength: 128}}
      requestBody:
        required: true
        content: {application/json: {schema: {$ref: '#/components/schemas/UpdateRecordingRetentionInput'}}}
      responses:
        '200': {description: RecordingRetentionPolicy, content: {application/json: {schema: {$ref: '#/components/schemas/RecordingRetentionPolicyEnvelope'}}}}
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/recordings/retention-policy/preview:
    post:
      operationId: previewRecordingRetentionPolicy
      summary: previewRecordingRetentionPolicy
      description: Human administrators only. Policy changes require a fresh actor-bound preview, matching revision and explicit confirmation. Asset commits policy and audit atomically; issued grants keep up to one hour of byte cleanup grace.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:recordings:write]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      requestBody:
        required: true
        content: {application/json: {schema: {$ref: '#/components/schemas/PreviewRecordingRetentionInput'}}}
      responses:
        '200': {description: RecordingRetentionPreview, content: {application/json: {schema: {$ref: '#/components/schemas/RecordingRetentionPreviewEnvelope'}}}}
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /legal/common:
    get:
      operationId: getCommonLegalSnapshot
      summary: getCommonLegalSnapshot
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - in: query
          name: locale
          schema: { $ref: "#/components/schemas/LegalLocale" }
      responses:
        '400': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
        '200':
          description: LegalSnapshotEnvelope
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LegalSnapshotEnvelope' }
  /member/legal/current:
    get:
      operationId: getMemberLegalSnapshot
      summary: getMemberLegalSnapshot
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway, hhc-line-function-bot]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      x-hhc-cache: private, no-store
      parameters:
        - in: query
          name: locale
          schema: { $ref: "#/components/schemas/LegalLocale" }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '400': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
        '200':
          description: LegalSnapshotEnvelope
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LegalSnapshotEnvelope' }
  /admin/legal/{scope}:
    get:
      operationId: getLegalDraft
      summary: getLegalDraft
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:pages:read]
      parameters:
        - in: path
          name: scope
          required: true
          schema: { $ref: "#/components/schemas/LegalScope" }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '400': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
        '200':
          description: LegalDraftEnvelope
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LegalDraftEnvelope' }
    put:
      operationId: saveLegalDraft
      summary: saveLegalDraft
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:pages:write]
      parameters:
        - in: path
          name: scope
          required: true
          schema: { $ref: "#/components/schemas/LegalScope" }
        - in: header
          name: If-Match
          required: true
          schema: { type: string, description: Quoted draft version; zero creates the initial draft. }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LegalDraft" }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '400': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '200':
          description: LegalDraftEnvelope
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LegalDraftEnvelope' }
  /admin/legal/{scope}/publish:
    post:
      operationId: publishLegalDraft
      summary: publishLegalDraft
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:pages:publish]
      parameters:
        - in: path
          name: scope
          required: true
          schema: { $ref: "#/components/schemas/LegalScope" }
        - in: header
          name: If-Match
          required: true
          schema: { type: string, description: Quoted draft version; zero creates the initial draft. }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '400': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '200':
          description: LegalSnapshotsEnvelope
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LegalSnapshotsEnvelope' }
  /priv/legal/current:
    post:
      operationId: resolveCurrentLegalSnapshot
      summary: resolveCurrentLegalSnapshot
      tags: [Private]
      x-hhc-visibility: private
      x-hhc-callers: [account-api, operations-api]
      security: [{ daprApiToken: [], daprCallerAppId: [] }]
      servers: [{ url: / }]
      x-hhc-cache: private, no-store
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LegalCurrentInput" }
      responses:
        '401': { $ref: '#/components/responses/Error' }
        '400': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
        '200':
          description: LegalSnapshotEnvelope
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LegalSnapshotEnvelope' }
  /priv/legal/snapshots/resolve:
    post:
      operationId: resolveLegalSnapshot
      summary: resolveLegalSnapshot
      tags: [Private]
      x-hhc-visibility: private
      x-hhc-callers: [account-api]
      security: [{ daprApiToken: [], daprCallerAppId: [] }]
      servers: [{ url: / }]
      x-hhc-cache: private, no-store
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LegalSnapshotInput" }
      responses:
        '401': { $ref: '#/components/responses/Error' }
        '400': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
        '200':
          description: LegalSnapshotEnvelope
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LegalSnapshotEnvelope' }
  /admin/recordings/watermark-lookups:
    post:
      operationId: lookupRecordingWatermark
      summary: Resolve an exact recording code to its issuance account (not proof of the person sharing it)
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:recordings:investigate]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RecordingWatermarkLookupInput' }
      responses:
        '200':
          description: Exact issuance receipt; never cached
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RecordingWatermarkLookupEnvelope' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/bulletins/watermark-lookups:
    post:
      operationId: lookupBulletinWatermark
      summary: Resolve an exact document code to its issuance account
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:bulletins:investigate]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
        '200':
          description: BulletinWatermarkLookupEnvelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulletinWatermarkLookupEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulletinWatermarkLookupInput'
  /admin/bulletins/{issueId}/watermark-versions:
    get:
      operationId: listBulletinWatermarkVersions
      summary: List eligible retained reconstruction locales
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:bulletins:investigate]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      responses:
        '200':
          description: List eligible retained reconstruction versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulletinWatermarkVersionsEnvelope'
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '413': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
      parameters:
      - in: path
        name: issueId
        required: true
        schema:
          type: string
          format: uuid
  /admin/bulletins/{issueId}/watermark-investigations:
    get:
      operationId: listBulletinWatermarkInvestigations
      summary: List retained investigations for one bulletin issue
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:bulletins:investigate]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters:
      - { name: issueId, in: path, required: true, schema: { type: string, format: uuid } }
      - { name: cursor, in: query, schema: { type: string, format: uuid } }
      - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
      responses:
        '200': { description: Issue investigation history, content: { application/json: { schema: { $ref: '#/components/schemas/BulletinWatermarkInvestigationPageEnvelope' } } } }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '422': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/bulletin-watermark-investigations:
    get:
      operationId: listGlobalBulletinWatermarkInvestigations
      summary: List retained bulletin investigations across issues
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:bulletins:investigate]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters:
      - { name: cursor, in: query, schema: { type: string } }
      - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
      - { name: sort, in: query, schema: { type: string, enum: [submitted, requested, actual, status, operator, account, issued] } }
      - { name: direction, in: query, schema: { type: string, enum: [asc, desc] } }
      responses:
        '200': { description: Global investigation history, content: { application/json: { schema: { $ref: '#/components/schemas/BulletinWatermarkInvestigationGlobalPageEnvelope' } } } }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '422': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
    post:
      operationId: createBulletinWatermarkInvestigation
      summary: Queue a private document investigation
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:bulletins:investigate]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      responses:
        '202':
          description: Queue a private document investigation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulletinWatermarkInvestigationAcceptedEnvelope'
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '413': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
      parameters:
      - in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
          format: uuid
        description: Stable UUID for retries. Reuse with changed content returns 409.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              additionalProperties: false
              required:
              - metadata
              - files
              properties:
                metadata:
                  type: string
                  maxLength: 8192
                  contentMediaType: application/json
                  contentSchema:
                    $ref: '#/components/schemas/BulletinWatermarkInvestigationInput'
                  description: JSON BulletinWatermarkInvestigationInput; unknown fields
                    rejected.
                files:
                  type: array
                  minItems: 1
                  maxItems: 5
                  items: { type: string, format: binary }
                  description: PNG, JPEG, or PDF files totaling at most 10 MiB.
  /admin/bulletin-watermark-investigations/{id}:
    get:
      operationId: getBulletinWatermarkInvestigation
      summary: Read the creator-owned investigation and audited result
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: private, no-store
      x-required-scopes: [cms:bulletins:investigate]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      responses:
        '200':
          description: Read the creator-owned investigation and audited result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulletinWatermarkInvestigationEnvelope'
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '413': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
  /priv/bulletin-watermarks/dsr/exports:
    post:
      operationId: applyBulletinWatermarkDSRExport
      parameters:
      - in: query
        name: coverage
        schema: { type: string, enum: [reader-v1] }
        description: Request explicit reader dataset coverage. Omitted for legacy response compatibility.
      summary: Process Account-owned watermark DSR export
      description: >-
        Receipt UUID cursors remain valid. After the last receipt page, investigations:
        starts the investigation phase; subsequent cursors append a job UUID.
      tags: [Private]
      x-hhc-visibility: private
      x-hhc-callers: [account-api]
      x-hhc-required-headers:
      - Dapr-Caller-App-Id
      - dapr-api-token
      x-hhc-cache: private, no-store
      security: [{ daprApiToken: [], daprCallerAppId: [] }]
      servers: [{ url: / }]
      responses:
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
        '200':
          description: BulletinWatermarkDSRExportEnvelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulletinWatermarkDSRExportEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulletinWatermarkDSRExportInput'
  /priv/bulletin-watermarks/dsr/actions:
    post:
      operationId: applyBulletinWatermarkDSRAction
      parameters:
      - in: query
        name: coverage
        schema: { type: string, enum: [reader-v1] }
        description: Request explicit reader dataset coverage. Account must require every dataset before completion.
      summary: Process Account-owned watermark DSR action
      tags: [Private]
      x-hhc-visibility: private
      x-hhc-callers: [account-api]
      x-hhc-required-headers:
      - Dapr-Caller-App-Id
      - dapr-api-token
      x-hhc-cache: private, no-store
      security: [{ daprApiToken: [], daprCallerAppId: [] }]
      servers: [{ url: / }]
      responses:
        '409': { description: Original restriction has already been withdrawn }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
        '200':
          description: BulletinWatermarkDSRActionEnvelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulletinWatermarkDSRActionEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulletinWatermarkDSRActionInput'
  /priv/bulletin-watermarks/dsr/restrictions/preview:
    post:
      operationId: previewWatermarkRestriction
      summary: Preview one original watermark processing restriction
      description: Require verified original provenance and a current preview token for withdrawal. Preserve other restrictions. Legacy or pruned origin evidence and recorded erasure disable withdrawal. Withdrawal never recreates records, jobs or assets. Retry returns a historical receipt; obtain a fresh preview for current state.
      tags: [Private]
      x-hhc-visibility: private
      x-hhc-callers: [account-api]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token]
      x-hhc-cache: private, no-store
      security: [{ daprApiToken: [], daprCallerAppId: [] }]
      servers: [{ url: / }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/DSRRestrictionReference' } } } }
      responses:
        '200': { description: Owner evidence, content: { application/json: { schema: { type: object, properties: { data: { $ref: '#/components/schemas/DSRRestrictionPreview' } } } } } }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '409': { description: Restriction evidence changed or unavailable }
        '503': { $ref: '#/components/responses/Error' }
  /priv/bulletin-watermarks/dsr/restrictions/withdraw:
    post:
      operationId: withdrawWatermarkRestriction
      summary: Withdraw one original watermark processing restriction
      description: Require verified original provenance and a current preview token for withdrawal. Preserve other restrictions. Legacy or pruned origin evidence and recorded erasure disable withdrawal. Withdrawal never recreates records, jobs or assets. Retry returns a historical receipt; obtain a fresh preview for current state.
      tags: [Private]
      x-hhc-visibility: private
      x-hhc-callers: [account-api]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token]
      x-hhc-cache: private, no-store
      security: [{ daprApiToken: [], daprCallerAppId: [] }]
      servers: [{ url: / }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/DSRRestrictionWithdrawal' } } } }
      responses:
        '200': { description: Owner evidence, content: { application/json: { schema: { type: object, properties: { data: { $ref: '#/components/schemas/DSRRestrictionWithdrawalResult' } } } } } }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '409': { description: Restriction evidence changed or unavailable }
        '503': { $ref: '#/components/responses/Error' }
  /priv/account-cleanup:
    post:
      operationId: cleanupDeletedAccountWebsiteData
      summary: Remove website data for manual Account deletion
      description: Deletes account-attributed watermark records without creating or advancing a DSR request.
      tags: [Private]
      x-hhc-visibility: private
      x-hhc-callers: [account-api]
      x-hhc-required-headers:
      - Dapr-Caller-App-Id
      - dapr-api-token
      x-hhc-cache: private, no-store
      security: [{ daprApiToken: [], daprCallerAppId: [] }]
      servers: [{ url: / }]
      responses:
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
        '200':
          description: Manual account cleanup result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulletinWatermarkAccountCleanupEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulletinWatermarkAccountCleanupInput'
  /health:
    get:
      operationId: getHealth
      summary: Get health
      tags: [Operations]
      x-hhc-visibility: operations
      x-hhc-callers: []
      security: []
      servers: [{ url: / }]
      responses:
        '200': { $ref: '#/components/responses/Health' }
  /health/live:
    get:
      operationId: getLiveness
      summary: Get liveness
      tags: [Operations]
      x-hhc-visibility: operations
      x-hhc-callers: []
      security: []
      servers: [{ url: / }]
      responses:
        '200': { $ref: '#/components/responses/Health' }
  /ready:
    get:
      operationId: getReadiness
      summary: Get readiness
      tags: [Operations]
      x-hhc-visibility: operations
      x-hhc-callers: []
      security: []
      servers: [{ url: / }]
      responses:
        '200': { $ref: '#/components/responses/Health' }
        '503': { $ref: '#/components/responses/Error' }
  /health/ready:
    get:
      operationId: getHealthReadiness
      summary: Get health readiness
      tags: [Operations]
      x-hhc-visibility: operations
      x-hhc-callers: []
      security: []
      servers: [{ url: / }]
      responses:
        '200': { $ref: '#/components/responses/Health' }
        '503': { $ref: '#/components/responses/Error' }
  /priv/recordings/{recordingID}/notification-policy:
    get:
      operationId: getPrivateRecordingNotificationPolicy
      summary: Check that a recording remains published, ready and unexpired
      tags: [Private]
      x-hhc-visibility: private
      x-hhc-callers: [engagement-api]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [] }]
      servers: [{ url: / }]
      parameters:
        - name: recordingID
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: False also covers missing, hidden or expired recordings
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [published]
                    properties:
                      published: { type: boolean }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /priv/bulletins/{issueID}/notification-policy:
    get:
      operationId: getPrivateBulletinNotificationPolicy
      summary: Resolve published bulletin locale entitlements for delivery
      tags: [Private]
      x-hhc-visibility: private
      x-hhc-callers: [engagement-api]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [] }]
      servers: [{ url: / }]
      parameters:
        - name: issueID
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Current delivery policy
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [published, entitlements]
                    properties:
                      published: { type: boolean }
                      entitlements:
                        type: array
                        items:
                          type: object
                          additionalProperties: false
                          required: [locale, entitlementCode]
                          properties:
                            locale: { type: string, enum: [zh-Hant, zh-Hans, en] }
                            entitlementCode: { type: string, pattern: '^bulletin\.general\.(zh-Hant|zh-Hans|en)\.access$' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '404': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/campaigns:
    get:
      operationId: listCampaigns
      summary: List campaigns
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:read]
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/SearchQuery'
      responses:
        '200': { $ref: '#/components/responses/CampaignPage' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    post:
      operationId: createCampaign
      summary: Create campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:write]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCampaign' }
      responses:
        '201': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/notification-summaries:
    get:
      operationId: listNotificationSummaries
      summary: List logical notifications grouped across delivery channels
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:read]
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/SearchQuery'
        - { name: sort, in: query, schema: { type: string, enum: [name, status, deliveryResult, updatedAt], default: updatedAt } }
        - { name: direction, in: query, schema: { type: string, enum: [asc, desc], default: desc } }
      responses:
        '200': { $ref: '#/components/responses/NotificationSummaryPage' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaigns/{campaignId}:
    parameters:
      - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      operationId: getCampaign
      summary: Get campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:read]
      responses:
        '200': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    put:
      operationId: updateCampaign
      summary: Update campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:write]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateCampaign' }
      responses:
        '200': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    delete:
      operationId: deleteCampaign
      summary: Delete campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:write]
      responses:
        '204': { description: Campaign deleted }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaigns/{campaignId}/send:
    post:
      operationId: sendCampaign
      summary: Send campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:send]
      parameters:
        - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaigns/{campaignId}/translation-previews/{targetLocale}:
    post:
      operationId: previewCampaignTranslation
      summary: Preview campaign translation
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:write]
      parameters:
        - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
        - $ref: '#/components/parameters/CampaignTranslationTargetLocale'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/TranslationPreviewInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '200': { $ref: '#/components/responses/CampaignTranslationPreview' }
        '400': { $ref: '#/components/responses/InvalidTranslationRequest' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/TranslationNotFound' }
        '409': { $ref: '#/components/responses/TranslationExists' }
        '412': { $ref: '#/components/responses/TranslationVersionMismatch' }
        '422': { $ref: '#/components/responses/TranslationContentFiltered' }
        '429': { $ref: '#/components/responses/TranslationRateLimited' }
        '500': { $ref: '#/components/responses/Error' }
        '502': { $ref: '#/components/responses/TranslationProviderError' }
        '503': { $ref: '#/components/responses/TranslationDisabled' }
        '504': { $ref: '#/components/responses/TranslationTimeout' }
  /admin/campaigns/{campaignId}/deliveries:
    get:
      operationId: listCampaignDeliveries
      summary: List campaign deliveries
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:read]
      parameters:
        - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200': { $ref: '#/components/responses/CampaignDeliveryPage' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaigns/{campaignId}/retry-failed:
    post:
      operationId: retryFailedCampaignDeliveries
      summary: Retry failed campaign deliveries
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:send]
      parameters:
        - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaign-schedules:
    get:
      operationId: listCampaignSchedules
      summary: List campaign schedules
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:read]
      responses:
        '200': { $ref: '#/components/responses/CampaignScheduleList' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    post:
      operationId: createCampaignSchedule
      summary: Create campaign schedule
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:write, campaigns:send]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCampaignSchedule' }
      responses:
        '201': { $ref: '#/components/responses/CampaignSchedule' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaign-schedules/{scheduleId}:
    parameters:
      - { name: scheduleId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      operationId: getCampaignSchedule
      summary: Get campaign schedule
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:read]
      responses:
        '200': { $ref: '#/components/responses/CampaignSchedule' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    put:
      operationId: updateCampaignSchedule
      summary: Update campaign schedule
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:write]
      description: Enabling a schedule additionally requires campaigns:send.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateCampaignSchedule' }
      responses:
        '200': { $ref: '#/components/responses/CampaignSchedule' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    delete:
      operationId: deleteCampaignSchedule
      summary: Delete campaign schedule
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:write]
      responses:
        '204': { description: Campaign schedule deleted }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaign-schedules/{scheduleId}/translation-previews/{targetLocale}:
    post:
      operationId: previewCampaignScheduleTranslation
      summary: Preview campaign schedule translation
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [campaigns:write]
      parameters:
        - { name: scheduleId, in: path, required: true, schema: { type: string, format: uuid } }
        - $ref: '#/components/parameters/CampaignTranslationTargetLocale'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/TranslationPreviewInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '200': { $ref: '#/components/responses/CampaignTranslationPreview' }
        '400': { $ref: '#/components/responses/InvalidTranslationRequest' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/TranslationNotFound' }
        '409': { $ref: '#/components/responses/TranslationExists' }
        '412': { $ref: '#/components/responses/TranslationVersionMismatch' }
        '422': { $ref: '#/components/responses/TranslationContentFiltered' }
        '429': { $ref: '#/components/responses/TranslationRateLimited' }
        '500': { $ref: '#/components/responses/Error' }
        '502': { $ref: '#/components/responses/TranslationProviderError' }
        '503': { $ref: '#/components/responses/TranslationDisabled' }
        '504': { $ref: '#/components/responses/TranslationTimeout' }
  /member/bulletin-download-jobs:
    post:
      operationId: createBulletinDownloadJob
      summary: Start or reuse preparation of an entitled private bulletin PDF
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      parameters:
        - $ref: '#/components/parameters/BulletinSeries'
        - $ref: '#/components/parameters/BulletinLocale'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BulletinDownloadJobInput' }
      responses:
        '200': { $ref: '#/components/responses/BulletinDownloadJob' }
        '202': { $ref: '#/components/responses/BulletinDownloadJobPending' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '404': { $ref: '#/components/responses/ProtectedBulletinNotFound' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /member/bulletin-download-jobs/{id}:
    get:
      operationId: getBulletinDownloadJob
      summary: Read owner-scoped bulletin preparation progress after reauthorization
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - $ref: '#/components/parameters/BulletinSeries'
        - $ref: '#/components/parameters/BulletinLocale'
      responses:
        '200': { $ref: '#/components/responses/BulletinDownloadJob' }
        '202': { $ref: '#/components/responses/BulletinDownloadJobPending' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '404': { $ref: '#/components/responses/ProtectedBulletinNotFound' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /member/bulletin-download-jobs/{id}/file:
    get:
      operationId: downloadPreparedBulletin
      summary: Download an owner-scoped ready private bulletin PDF after reauthorization
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - $ref: '#/components/parameters/BulletinSeries'
        - $ref: '#/components/parameters/BulletinLocale'
      responses:
        '200': { description: Prepared private bulletin PDF, content: { application/pdf: { schema: { type: string, format: binary } } } }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '404': { $ref: '#/components/responses/ProtectedBulletinNotFound' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /member/bulletins:
    get:
      operationId: listProtectedBulletins
      summary: List published bulletins authorized by exact series and locale entitlement
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway, hhc-line-function-bot]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      parameters:
        - $ref: '#/components/parameters/BulletinSeries'
        - $ref: '#/components/parameters/BulletinLocale'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - { name: issueNumber, in: query, schema: { type: integer, format: int32, minimum: 1, maximum: 2147483647 } }
      responses:
        '200': { description: Authorized bulletin page, content: { application/json: { schema: { $ref: '#/components/schemas/ProtectedBulletinListEnvelope' } } } }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '404': { $ref: '#/components/responses/ProtectedBulletinNotFound' }
        '503': { $ref: '#/components/responses/Error' }
  /member/bulletins/online:
    get:
      operationId: discoverOnlineBulletins
      summary: Discover the authorized union of published PDF and Online editions
      description: Pages distinct issues once across the requested authorized languages, then returns every matching edition for those issues. Total, offset and limit count issues, not edition rows. Either locale (default zh-Hant) or locales may be supplied, never both. Every requested edition is authorized before any content lookup; one denial fails the entire request without partial disclosure.
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      parameters:
        - $ref: '#/components/parameters/BulletinSeries'
        - $ref: '#/components/parameters/BulletinLocale'
        - { name: locales, in: query, description: 'One to three distinct comma-separated languages, mutually exclusive with locale.', schema: { type: string, pattern: '^(zh-Hant|zh-Hans|en)(,(zh-Hant|zh-Hans|en)){0,2}$' } }
        - { name: offset, in: query, schema: { type: integer, minimum: 0, maximum: 1000000, default: 0 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { name: issueNumber, in: query, schema: { type: integer, minimum: 1, maximum: 2147483647 } }
      responses:
        '200': { description: One authoritative union page, content: { application/json: { schema: { $ref: '#/components/schemas/ReaderDiscoveryEnvelope' } } } }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '404': { $ref: '#/components/responses/ReaderUnavailable' }
        '503': { $ref: '#/components/responses/Error' }
  /member/bulletins/{issueID}/versions/{locale}/online/access:
    post:
      operationId: openOnlineBulletin
      summary: Issue authorized structured content with a durable reader receipt
      description: Rechecks the exact PDF entitlement on every request. Content is returned only after receipt commit. Same account and clientRequestId replay the original validation window; changed inputs conflict. Receipt reuse requires the same account, document and published revision. Retained published revisions remain readable only while the edition is published. No full-content GET exists. Seven-day offline validity is independent of the fixed 365-day receipt retention.
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      parameters:
        - { name: issueID, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: locale, in: path, required: true, schema: { $ref: '#/components/schemas/BulletinLocale' } }
        - $ref: '#/components/parameters/BulletinSeries'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ReaderAccessInput' } } }
      responses:
        '200':
          description: Committed receipt and source-free content; verify exact response bytes before decoding or persisting
          headers:
            X-HHC-Content-SHA256: { description: Lowercase SHA-256 of exact UTF-8 response body bytes, schema: { $ref: '#/components/schemas/OnlineBulletinHash' } }
            Cache-Control: { schema: { type: string, const: 'private, no-store' } }
          content: { application/json: { schema: { $ref: '#/components/schemas/ReaderAccessEnvelope' } } }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '404': { $ref: '#/components/responses/ReaderUnavailable' }
        '409': { description: 'Request, receipt or revision conflict; retry with a new clientRequestId and valid revision', content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } } }
        '503': { $ref: '#/components/responses/Error' }
  /member/bulletins/{issueID}/versions/{locale}/online/reader/state:
    get:
      operationId: getBulletinReaderState
      summary: Read and migrate the authorized account's private reader state
      description: Rechecks the exact PDF entitlement before lookup. Migrates through retained published checkpoints only; draft saves do not count. Optional direct sentence mappings are bounded to 8 MiB, not by transition count. Missing or corrupt history returns mapping_history_unavailable without modifying private data. No account ID is accepted from the client.
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      parameters:
        - { name: issueID, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: locale, in: path, required: true, schema: { $ref: '#/components/schemas/BulletinLocale' } }
        - { name: series, in: query, required: true, schema: { $ref: '#/components/schemas/BulletinSeries' } }
        - { name: fromRevision, in: query, schema: { type: integer, minimum: 1, maximum: 9007199254740991 } }
      responses:
        '200': { description: Account-scoped state and optional direct mappings, content: { application/json: { schema: { $ref: '#/components/schemas/ReaderStateEnvelope' } } } }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '404': { $ref: '#/components/responses/ReaderUnavailable' }
        '409': { description: mapping_history_unavailable; retain local changes, content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } } }
        '503': { $ref: '#/components/responses/Error' }
  /member/bulletins/{issueID}/versions/{locale}/online/reader/mutations:
    post:
      operationId: mutateBulletinReader
      summary: Apply an ordered private reader mutation batch
      description: Same download entitlement and current publication are required even for replay. Maximum body 1 MiB, 100 operations, 500 anchors per action/note, and 10000 Unicode code points per note. Validation/persistence failure rolls back the whole batch. Terminal results and canonical payload fingerprints are retained for 91 days. Unseen operations older than 90 days return recovery_required. revision_changed is nonterminal and retains the mutation ID for mapped retry. Reusing a terminal ID with a different payload returns mutation_id_conflict. Client creation time is not authorization; values more than five minutes ahead of the server are rejected.
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      parameters:
        - { name: issueID, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: locale, in: path, required: true, schema: { $ref: '#/components/schemas/BulletinLocale' } }
        - { name: series, in: query, required: true, schema: { $ref: '#/components/schemas/BulletinSeries' } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [mutations]
              properties:
                mutations: { type: array, minItems: 1, maxItems: 100, items: { $ref: '#/components/schemas/ReaderMutation' } }
      responses:
        '200': { description: Ordered results and current account state, content: { application/json: { schema: { $ref: '#/components/schemas/ReaderMutationEnvelope' } } } }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '404': { $ref: '#/components/responses/ReaderUnavailable' }
        '409': { description: mutation_id_conflict or mapping_history_unavailable; retain local changes, content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } } }
        '413': { description: request_too_large; no operations applied, content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } } }
        '503': { $ref: '#/components/responses/Error' }
  /member/bulletins/latest:
    get:
      operationId: getLatestProtectedBulletin
      summary: Get the latest published bulletin authorized by exact entitlement
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway, hhc-line-function-bot]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      parameters: [{ $ref: '#/components/parameters/BulletinSeries' }, { $ref: '#/components/parameters/BulletinLocale' }]
      responses:
        '200': { $ref: '#/components/responses/ProtectedBulletin' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '404': { $ref: '#/components/responses/ProtectedBulletinNotFound' }
        '503': { $ref: '#/components/responses/Error' }
  /member/bulletins/{issueID}/versions/{locale}:
    get:
      operationId: getProtectedBulletinVersion
      summary: Get one published bulletin version authorized by exact entitlement
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway, hhc-line-function-bot]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      parameters:
        - { name: issueID, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: locale, in: path, required: true, schema: { $ref: '#/components/schemas/BulletinLocale' } }
        - $ref: '#/components/parameters/BulletinSeries'
      responses:
        '200': { $ref: '#/components/responses/ProtectedBulletin' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '404': { $ref: '#/components/responses/ProtectedBulletinNotFound' }
        '503': { $ref: '#/components/responses/Error' }
  /member/bulletins/{issueID}/versions/{locale}/download:
    get:
      operationId: downloadProtectedBulletinVersion
      summary: Stream one authorized private bulletin PDF
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway, hhc-line-function-bot]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      parameters:
        - { name: issueID, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: locale, in: path, required: true, schema: { $ref: '#/components/schemas/BulletinLocale' } }
        - $ref: '#/components/parameters/BulletinSeries'
        - { name: Range, in: header, schema: { type: string } }
        - { name: If-Range, in: header, schema: { type: string } }
      responses:
        '200': { description: Authorized private bulletin PDF, content: { application/pdf: { schema: { type: string, format: binary } } } }
        '206': { description: Authorized private bulletin byte range, content: { application/pdf: { schema: { type: string, format: binary } } } }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '404': { $ref: '#/components/responses/ProtectedBulletinNotFound' }
        '416': { description: Requested range is not satisfiable }
        '503': { $ref: '#/components/responses/Error' }
  /statements/active:
    get:
      operationId: getActiveStatement
      summary: Get the active published church statement and next time boundary
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters: [{ $ref: '#/components/parameters/ContentLocale' }]
      responses:
        '200':
          description: Current statement, or null; Cache-Control no-store
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActiveStatementEnvelope' }
  /admin/content/news/{contentId}/statement-popup/end:
    post:
      operationId: endStatementPopup
      summary: endStatementPopup
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:news:publish]
      parameters:
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '200':
          description: Statement operation result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContentItemEnvelope' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/Error' }
  /news:
    get:
      operationId: listPublicNews
      summary: List public news
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/ContentLocale'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses: { '200': { $ref: '#/components/responses/PublicContentList' } }
  /news/{slug}:
    get:
      operationId: getPublicNews
      summary: Get public news
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string, minLength: 1, maxLength: 120, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' } }
        - $ref: '#/components/parameters/ContentLocale'
        - { name: If-None-Match, in: header, schema: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/PublicContentItem' }
        '304': { description: Content has not changed }
        '404': { $ref: '#/components/responses/Error' }
  /history:
    get:
      operationId: listPublicHistory
      summary: List public history
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/ContentLocale'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses: { '200': { $ref: '#/components/responses/PublicContentList' } }
  /videos:
    get:
      operationId: listPublicVideos
      summary: List public videos
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/ContentLocale'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses: { '200': { $ref: '#/components/responses/PublicContentList' } }
  /locations:
    get:
      operationId: listPublicLocations
      summary: List published locations for one locale
      description: Reads only the requested published locale; no locale fallback is applied.
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters: [{ $ref: '#/components/parameters/ContentLocale' }]
      responses:
        '200': { $ref: '#/components/responses/PublicLocationList' }
        '400': { $ref: '#/components/responses/Error' }
  /pages/{pageKey}:
    get:
      operationId: getPublicPage
      summary: Get one published fixed editorial page in an exact locale
      description: Resolves only the four fixed page keys and never applies locale fallback.
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/PageKey'
        - $ref: '#/components/parameters/ContentLocale'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200': { $ref: '#/components/responses/PublicEditorialPage' }
        '304': { $ref: '#/components/responses/PublicEditorialPageNotModified' }
        '404': { $ref: '#/components/responses/Error' }
  /site-layout:
    get:
      operationId: getPublicSiteLayout
      summary: Get the published site layout for one exact locale
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - { $ref: '#/components/parameters/ContentLocale' }
        - { $ref: '#/components/parameters/IfNoneMatch' }
      responses:
        '200': { $ref: '#/components/responses/SiteLayout' }
        '304': { $ref: '#/components/responses/SiteLayoutNotModified' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /home:
    get:
      operationId: getPublicHome
      summary: Get public home
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters: [{ $ref: '#/components/parameters/ContentLocale' }]
      responses:
        '200':
          description: Published home page projection
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HomeEnvelope' }
  /admin/site-settings:
    get:
      operationId: getSiteSettings
      summary: Get the Site Settings draft aggregate
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:pages:read]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '200': { $ref: '#/components/responses/SiteSettings' }
    put:
      operationId: saveSiteSettings
      summary: Save the Site Settings aggregate as a draft
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:pages:write]
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SiteSettingsWriteInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettings' }
        '400': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
  /admin/site-settings/publish:
    post:
      operationId: publishSiteSettings
      summary: Publish all five Site Layout projections atomically
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:pages:publish]
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettings' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
  /admin/site-settings/unpublish:
    post:
      operationId: unpublishSiteSettings
      summary: Unpublish all Site Layout projections atomically
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:pages:publish]
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettings' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
  /admin/site-settings/revisions:
    get:
      operationId: listSiteSettingsRevisions
      summary: List Site Settings revisions
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:pages:read]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettingsRevisionList' }
  /admin/site-settings/revisions/{revision}/restore:
    post:
      operationId: restoreSiteSettingsRevision
      summary: Restore a Site Settings revision to a draft
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:pages:write]
      parameters:
        - $ref: '#/components/parameters/Revision'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettings' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/online/{series}/{contentLocale}:
    get:
      operationId: getOnlineBulletinState
      summary: Read independent Online editing and publication state
      description: Returns one consistent edition snapshot, current canonical metadata, frozen published metadata, Local content, and bounded background job status. Before first extraction version is zero and documentId is empty. ETag is the Online version, not the canonical issue version. No leases, source asset IDs, or raw extraction snapshots are exposed.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:bulletins:read]
      parameters:
        - { $ref: '#/components/parameters/IssueID' }
        - { name: series, in: path, required: true, schema: { type: string, enum: [general] } }
        - { name: contentLocale, in: path, required: true, schema: { type: string, enum: [zh-Hant, zh-Hans] } }
      responses:
        '200':
          description: Independent Online state, including an unstarted edition
          headers:
            Cache-Control: { schema: { type: string, const: 'private, no-store' } }
            ETag: { description: Quoted Online version; zero before first extraction, schema: { type: string } }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta, error]
                properties:
                  data: { $ref: '#/components/schemas/OnlineBulletinAdminState' }
                  meta: { type: object, additionalProperties: true }
                  error: { type: 'null' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/online/{series}/{contentLocale}/extractions:
    post:
      operationId: startOnlineBulletinExtraction
      summary: Queue current source extraction or explicitly retry a failed job
      description: Source asset and checksum are verified server-side. Initial If-Match is the quoted Online version zero; later calls use the current Online ETag. canonicalVersion independently fences PDF or metadata replacement. Identical source/template/extractor identities reuse the existing job without another audit mutation. retry=true resets only a failed job without an immutable snapshot. Re-upload never overwrites Base, Local, Incoming, or publication. A superseded completed snapshot cannot be rerun; edit or restore the existing revision instead.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:bulletins:write]
      parameters:
        - { $ref: '#/components/parameters/IssueID' }
        - { name: series, in: path, required: true, schema: { type: string, enum: [general] } }
        - { name: contentLocale, in: path, required: true, schema: { type: string, enum: [zh-Hant] } }
        - { name: If-Match, in: header, required: true, schema: { type: string, pattern: '^"(0|[1-9][0-9]*)"$' } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OnlineBulletinExtractionInput' }
      responses:
        '200':
          description: Existing completed or failed job, not automatically retried
          headers:
            ETag: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OnlineBulletinQueuedExtractionEnvelope' }
        '202':
          description: Extraction queued or already running; read state for progress
          headers:
            ETag: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OnlineBulletinQueuedExtractionEnvelope' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '409':
          description: Version conflict includes meta.currentVersion and meta.canonicalVersion; other conflicts reject retrying an active or immutable job
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '428': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/online/{series}/{contentLocale}/conversions:
    post:
      operationId: startOnlineBulletinConversion
      summary: Derive an independent Simplified Chinese draft from confirmed Traditional Chinese content
      description: Human administrators only. Source is always the same issue general zh-Hant confirmed Local. If-Match fences the target Online version (zero before creation); the body independently fences canonical metadata and source revision/version. Identical source/configuration requests reuse the durable job. retry=true retries only failed work. Subsequent conversions produce Incoming without overwriting manual Local or publication. No PDF asset or additional grant is created.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:bulletins:write]
      parameters:
        - { $ref: '#/components/parameters/IssueID' }
        - { name: series, in: path, required: true, schema: { type: string, enum: [general] } }
        - { name: contentLocale, in: path, required: true, schema: { type: string, enum: [zh-Hans] } }
        - { name: If-Match, in: header, required: true, schema: { type: string, pattern: '^"(0|[1-9][0-9]*)"$' } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OnlineBulletinConversionInput' }
      responses:
        '200':
          description: Existing completed or failed conversion
          headers:
            ETag: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OnlineBulletinQueuedExtractionEnvelope' }
        '202':
          description: Conversion queued or already running
          headers:
            ETag: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OnlineBulletinQueuedExtractionEnvelope' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/online/{series}/{contentLocale}/comparison:
    get:
      operationId: getOnlineBulletinComparison
      summary: Read a consistent Base Local Incoming comparison
      description: Returns server-owned comparison values and revision pointers from one snapshot. Suggestions are same, local, incoming or conflict; ambiguous changes require an explicit choice. Reading requires durable audit. All responses are private, no-store.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: [cms:bulletins:read]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters:
        - { name: issueId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: series, in: path, required: true, schema: { type: string, enum: [general] } }
        - { name: contentLocale, in: path, required: true, schema: { type: string, enum: [zh-Hant, zh-Hans] } }
      responses:
        '200':
          description: Consistent three-way comparison
          headers:
            ETag: { schema: { type: string } }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta, error]
                properties:
                  data: { $ref: '#/components/schemas/OnlineBulletinComparison' }
                  meta: { type: object, additionalProperties: true }
                  error: { type: 'null' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/online/{series}/{contentLocale}/compare:
    post:
      operationId: applyOnlineBulletinComparison
      summary: Resolve three-way differences into a new Local revision
      description: Requires exact Online and canonical versions and all three revision pointers. Unresolved concurrent changes are rejected. Applies choices atomically, moves Base to Incoming, clears Incoming, queues fresh layout and audit, and preserves publication and PDF workflows. Manual values cannot contain source coordinates or layout proof. Unsupported structural coverage is rejected. Body capped at 8 MiB. All responses are private, no-store.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: [cms:bulletins:write]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters:
        - { name: issueId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: series, in: path, required: true, schema: { type: string, enum: [general] } }
        - { name: contentLocale, in: path, required: true, schema: { type: string, enum: [zh-Hant, zh-Hans] } }
        - { name: If-Match, in: header, required: true, schema: { type: string, pattern: '^"[1-9][0-9]*"$' } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OnlineBulletinCompareInput' }
      responses:
        '200':
          description: Saved immutable Local awaiting fresh layout validation
          headers:
            ETag: { schema: { type: string } }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta, error]
                properties:
                  data: { $ref: '#/components/schemas/OnlineBulletinSavedDraft' }
                  meta: { type: object, additionalProperties: true }
                  error: { type: 'null' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/online/{series}/{contentLocale}/draft:
    put:
      operationId: saveOnlineBulletinDraft
      summary: Save typed Local component corrections and enqueue layout validation
      description: Creates an immutable Local revision, retaining sentence IDs and server-owned provenance. Source coordinates must be omitted from every submitted sentence; layout manifests, assets, canonical metadata copies, and validation flags cannot be submitted. Existing geometry is only a seed for isolated re-composition. Published, Base, and Incoming pointers are unchanged; no notification or publication mapping is created. All sentences must retain valid server-assigned slot coverage; unsupported structural changes are rejected, never silently clipped.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:bulletins:write]
      parameters:
        - { $ref: '#/components/parameters/IssueID' }
        - { name: series, in: path, required: true, schema: { type: string, enum: [general] } }
        - { name: contentLocale, in: path, required: true, schema: { type: string, enum: [zh-Hant, zh-Hans] } }
        - { name: If-Match, in: header, required: true, schema: { type: string, pattern: '^"[1-9][0-9]*"$' } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OnlineBulletinDraftInput' }
      responses:
        '200':
          description: Saved immutable draft awaiting isolated layout validation
          headers:
            ETag: { schema: { type: string } }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta, error]
                properties:
                  data: { $ref: '#/components/schemas/OnlineBulletinSavedDraft' }
                  meta: { type: object, additionalProperties: true }
                  error: { type: 'null' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '409':
          description: Stale Online or canonical version; meta.currentVersion and meta.canonicalVersion identify current state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '428': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/online/{series}/{contentLocale}/publish:
    post:
      operationId: publishOnlineBulletin
      summary: Publish the confirmed immutable Online revision
      description: Atomically verifies current canonical and Online CAS, matching published PDF, exact worker layout evidence and human confirmation. Mappings describe explicit structural decisions from the last publication only; unresolved replacements block publication. No weekly notification. Repeating the current publication with fresh CAS and no mappings is a no-op.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:bulletins:publish]
      parameters:
        - { $ref: '#/components/parameters/IssueID' }
        - { name: series, in: path, required: true, schema: { type: string, enum: [general] } }
        - { name: contentLocale, in: path, required: true, schema: { type: string, enum: [zh-Hant, zh-Hans] } }
        - { name: If-Match, in: header, required: true, schema: { type: string, pattern: '^"[1-9][0-9]*"$' } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OnlineBulletinPublishInput' }
      responses:
        '200':
          description: Online publish committed independently
          headers:
            ETag: { schema: { type: string } }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta, error]
                properties:
                  data: { $ref: '#/components/schemas/OnlineBulletinConfirmedRevision' }
                  meta: { type: object, additionalProperties: true }
                  error: { type: 'null' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '409':
          description: Publication gate failed or CAS conflict; version conflicts include meta.currentVersion and meta.canonicalVersion
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '428': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/online/{series}/{contentLocale}/unpublish:
    post:
      operationId: unpublishOnlineBulletin
      summary: Unpublish Online without changing the PDF
      description: Clears only the Online published pointer. Retains all immutable history, confirmation, mappings and PDF state. No weekly notification. Already-unpublished with fresh CAS is a no-op.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: [cms:bulletins:publish]
      parameters:
        - { $ref: '#/components/parameters/IssueID' }
        - { name: series, in: path, required: true, schema: { type: string, enum: [general] } }
        - { name: contentLocale, in: path, required: true, schema: { type: string, enum: [zh-Hant, zh-Hans] } }
        - { name: If-Match, in: header, required: true, schema: { type: string, pattern: '^"[1-9][0-9]*"$' } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OnlineBulletinRestoreInput' }
      responses:
        '200':
          description: Online unpublish committed independently
          headers:
            ETag: { schema: { type: string } }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta, error]
                properties:
                  data: { $ref: '#/components/schemas/OnlineBulletinUnpublishedRevision' }
                  meta: { type: object, additionalProperties: true }
                  error: { type: 'null' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '409':
[...]
